@charset "UTF-8";
/*
    Flaticon icon font: Flaticon
    Creation date: 17/04/2017 14:52
    */
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-prize-badge-with-star-and-ribbon:before {
  content: "\f100";
}

.flaticon-avatar:before {
  content: "\f101";
}

.flaticon-teamwork:before {
  content: "\f102";
}

.flaticon-professor-consultation:before {
  content: "\f103";
}

.flaticon-group:before {
  content: "\f104";
}

.flaticon-smartphone:before {
  content: "\f105";
}

.flaticon-care:before {
  content: "\f106";
}

.flaticon-open-book:before {
  content: "\f107";
}

.flaticon-stadium:before {
  content: "\f108";
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova' !important;
  font-size: 13px;
  background-color: #dedede !important;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none !important;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.otf") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.otf") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/MarkSimonson-ProximaNovaRegular.eot");
  src: url("../fonts/MarkSimonson-ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MarkSimonson-ProximaNovaRegular.woff2") format("woff2"), url("../fonts/MarkSimonson-ProximaNovaRegular.otf") format("woff2"), url("../fonts/MarkSimonson-ProximaNovaRegular.woff") format("woff"), url("../fonts/MarkSimonson-ProximaNovaRegular.woff2") format("woff2"), url("../fonts/MarkSimonson-ProximaNovaRegular.ttf") format("truetype"), url("../fonts/MarkSimonson-ProximaNovaRegular.svg#ProximaNovaACond-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/MarkSimonson-ProximaNovaBold.eot");
  src: url("../fonts/MarkSimonson-ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MarkSimonson-ProximaNovaBold.woff2") format("woff2"), url("../fonts/MarkSimonson-ProximaNovaBold.otf") format("woff2"), url("../fonts/MarkSimonson-ProximaNovaBold.woff") format("woff"), url("../fonts/MarkSimonson-ProximaNovaBold.woff2") format("woff2"), url("../fonts/MarkSimonson-ProximaNovaBold.ttf") format("truetype"), url("../fonts/MarkSimonson-ProximaNovaBold.svg#ProximaNovaACond-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Black';
  src: url("../fonts/MarkSimonson-ProximaNovaBlack.eot");
  src: url("../fonts/MarkSimonson-ProximaNovaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/MarkSimonson-ProximaNovaBlack.woff2") format("woff2"), url("../fonts/MarkSimonson-ProximaNovaBlack.otf") format("woff2"), url("../fonts/MarkSimonson-ProximaNovaBlack.woff") format("woff"), url("../fonts/MarkSimonson-ProximaNovaBlack.woff2") format("woff2"), url("../fonts/MarkSimonson-ProximaNovaBlack.ttf") format("truetype"), url("../fonts/MarkSimonson-ProximaNovaBlack.svg#ProximaNovaACond-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/MarkSimonson-ProximaNovaLight.eot");
  src: url("../fonts/MarkSimonson-ProximaNovaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MarkSimonson-ProximaNovaLight.woff2") format("woff2"), url("../fonts/MarkSimonson-ProximaNovaLight.otf") format("woff2"), url("../fonts/MarkSimonson-ProximaNovaLight.woff") format("woff"), url("../fonts/MarkSimonson-ProximaNovaLight.woff2") format("woff2"), url("../fonts/MarkSimonson-ProximaNovaLight.ttf") format("truetype"), url("../fonts/MarkSimonson-ProximaNovaLight.svg#ProximaNovaACond-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TexGyreadVentor';
  src: url("../fonts/texgyreadventor-regular.eot");
  src: url("../fonts/texgyreadventor-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/texgyreadventor-regular.woff2") format("woff2"), url("../fonts/texgyreadvFentor-regular.otf") format("woff2"), url("../fonts/texgyreadventor-regular.woff") format("woff"), url("../fonts/texgyreadventor-regular.woff2") format("woff2"), url("../fonts/texgyreadventor-regular.ttf") format("truetype"), url("../fonts/texgyreadventor-regular.svg#texgyreadventor-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'champagne__limousinesregular';
  src: url("../fonts/champagne__limousines-webfont.eot");
  src: url("../fonts/champagne__limousines-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/champagne__limousines-webfont.woff2") format("woff2"), url("../fonts/champagne__limousines-webfont.woff") format("woff"), url("../fonts/champagne__limousines-webfont.ttf") format("truetype"), url("../fonts/champagne__limousines-webfont.svg#champagne__limousinesregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'champagne__limousinesbold';
  src: url("../fonts/champagne__limousines_bold-webfont.eot");
  src: url("../fonts/champagne__limousines_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/champagne__limousines_bold-webfont.woff2") format("woff2"), url("../fonts/champagne__limousines_bold-webfont.woff") format("woff"), url("../fonts/champagne__limousines_bold-webfont.ttf") format("truetype"), url("../fonts/champagne__limousines_bold-webfont.svg#champagne__limousinesbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=3.0.1");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=3.0.1") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.dib {
  display: inline-block;
}

header {
  position: absolute;
  width: 100%;
  line-height: 80px;
  z-index: 99999;
}

header .container-fluid .row .col-md-6:nth-child(2) {
  padding-right: 0px !important;
}

header .main_menu {
  padding-top: 8px;
  position: relative;
}

header .main_menu nav a {
  font-family: 'Proxima Nova Bold';
  color: white;
  font-size: 15px;
  margin: 0px 20px;
  position: relative;
}

header .main_menu nav a:after {
  margin-top: 5px;
  position: absolute;
  content: "";
  display: block;
  clear: both;
  width: 0px;
  height: 3px;
  left: 0;
  bottom: -6px;
  background-color: #00cc79;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header .main_menu nav a:hover {
  color: #00cc79;
}

header .main_menu nav a:hover:after {
  width: 100%;
}

header .main_menu .social_list a {
  margin: 0px 15px;
}

header .main_menu .social_list a i:before {
  font-size: 14px;
  color: white;
}

.text {
  margin-bottom: 30px;
}

svg {
  width: 100%;
}

section#home {
  background-image: url(../images/home_banner_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section#page_about_banner {
  background-image: url(../images/page_about_banner.png);
  background-size: cover;
  background-color: #1a1a27;
  height: 650px;
}

section#page_whyus_banner {
  background-image: url(../images/page_whyus_banner.jpg);
  background-size: cover;
  height: 650px;
}

section#page_services_banner {
  background-image: url("../images/page_services_banner.png");
  background-size: cover;
  background-color: #395a46;
}

section#page_contact_banner {
  background-image: url("../images/page_contact_banner.png");
  background-repeat: no-repeat;
  background-color: #gray;
  padding: 100px 0px;
}

section#mission_and_vision {
  background-color: #f6f6f6;
  height: 650px;
}

section#detail_page_footer {
  background-color: white;
  padding: 5% 0;
}

section#about {
  background-color: #131323;
}

section#services {
  background-color: #296751;
}

section#footer {
  background-color: #dedede;
}

section.home_banner {
  width: 100%;
  height: 100vh;
  position: relative;
}

section.contact .title h2 {
  color: black;
  font-family: 'Proxima Nova Black';
  font-size: 30px;
  position: relative;
}

section.contact .title h2:before {
  content: 'Bize Nasıl Ulaşırsınız?';
  position: absolute;
  font-family: 'champagne__limousinesbold';
  font-style: italic;
  display: block;
  color: #fcc564;
  top: 30px;
  left: 30px;
  font-size: 20px;
}

section.contact .contact-info .contact-detail {
  margin-left: 40px;
  display: inline-table;
}

section.contact .contact-info .contact-detail .title h4 {
  color: black;
  font-family: 'Proxima Nova Black';
  font-size: 20px;
}

section.contact .contact-info .contact-detail .tel-fax span a {
  color: black;
}

section.page-services {
  padding: 10% 0px;
}

section.page-services #web_design {
  position: relative;
  background-image: url("../images/services_web_design.png");
  width: 524px;
  height: 450px;
}

section.page-services #web_design:before {
  position: absolute;
  content: "";
  display: block;
  clear: both;
  width: 496px;
  height: 419px;
  background-image: url("../images/services_page_before.png");
}

section.page-services #digital_design {
  position: relative;
  background-image: url("../images/services_digital_design.png");
  width: 524px;
  height: 450px;
}

section.page-services #digital_design:after {
  position: absolute;
  content: "";
  display: block;
  clear: both;
  top: 1px;
  left: 17px;
  width: 496px;
  height: 419px;
  background-image: url("../images/services_page_after.png");
}

section.page-services #web_based_software {
  position: relative;
  background-image: url("../images/web_based_software.png");
  width: 524px;
  height: 450px;
}

section.page-services #web_based_software:before {
  position: absolute;
  content: "";
  display: block;
  clear: both;
  width: 496px;
  height: 419px;
  background-image: url("../images/services_page_before_purple.png");
}

section.page-services #digital_marketing {
  position: relative;
  background-image: url("../images/services_digital_marketing.png");
  width: 524px;
  height: 450px;
}

section.page-services #digital_marketing:before {
  position: absolute;
  content: "";
  display: block;
  clear: both;
  top: 2px;
  left: 19px;
  width: 496px;
  height: 419px;
  background-image: url("../images/services_page_after_purple.png");
}

section.page-services .services-info .title h3 {
  color: white;
  font-family: 'Proxima Nova Black';
  font-size: 30px;
}

section.page-services .services-info .title h3.web-design:after {
  content: '';
  position: absolute;
  right: 0;
  top: 12%;
  width: 27%;
  height: 2px;
  background-color: #fcc564;
  display: block;
}

section.page-services .services-info .title h3.web-design:before {
  content: '01';
  position: absolute;
  display: block;
  color: #fcc564;
  top: 10px;
  left: 90px;
  font-size: 50px;
}

section.page-services .services-info .title h3.digital-design:after {
  content: '';
  position: absolute;
  left: 0;
  top: 12%;
  width: 25%;
  height: 2px;
  background-color: #fcc564;
  display: block;
}

section.page-services .services-info .title h3.digital-design:before {
  content: '02';
  position: absolute;
  display: block;
  color: #fcc564;
  top: 10px;
  right: 15%;
  font-size: 50px;
}

section.page-services .services-info .title h3.web-based-software:after {
  content: '';
  position: absolute;
  right: 0;
  top: 9%;
  width: 15%;
  height: 2px;
  background-color: #fcc564;
  display: block;
}

section.page-services .services-info .title h3.web-based-software:before {
  content: '03';
  position: absolute;
  display: block;
  color: #fcc564;
  top: 10px;
  left: 10px;
  font-size: 50px;
}

section.page-services .services-info .title h3.digital-marketing:after {
  content: '';
  position: absolute;
  right: 30px;
  top: 9%;
  width: 14%;
  height: 2px;
  background-color: #fcc564;
  display: block;
}

section.page-services .services-info .title h3.digital-marketing:before {
  content: '04';
  position: absolute;
  display: block;
  color: #fcc564;
  top: 10px;
  left: 10px;
  font-size: 50px;
}

section.page-services .services-info .paragraph p {
  font-family: 'Proxima Nova Light';
  color: white;
  font-size: 15px;
  margin: 40px 0px;
}

section.page-services .services-info .services-detail span {
  cursor: default;
  background-color: #00cc79;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
}

section.page-services .services-info .services-detail span.purple {
  background-color: #1a1a27;
}

section.page-services .title h2 {
  color: white;
  font-family: 'Proxima Nova Black';
  font-size: 50px;
}

section.page-services .title h2:before {
  font-family: 'champagne__limousinesbold';
  color: #fcc564;
  content: 'Uzmanlık Alanlarımız';
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  display: block;
  font-style: italic;
  font-size: 25px;
}

section.page-services .services-list {
  margin: 65px 0px;
}

section.page-services .services-list nav {
  border-bottom: 1px dashed #00cc79;
  padding-bottom: 10px;
}

section.page-services .services-list nav a {
  margin: 0px 15px;
  font-family: 'Proxima Nova Light';
  font-size: 18px;
  color: white;
}

section.page-services .services-list nav a:hover {
  color: #00cc79;
}

section.page-about {
  padding: 12% 0px;
}

section.page-about .page-about-title h2 {
  font-family: 'Proxima Nova Black';
  font-size: 60px;
  margin-top: 0;
  color: white;
  position: relative;
}

section.page-about .page-about-title h2:after {
  font-family: 'champagne__limousinesbold';
  color: #fcc564;
  content: 'Biz Kimiz ?';
  position: absolute;
  display: block;
  font-style: italic;
  bottom: -20px;
  left: 220px;
  font-size: 25px;
}

section.page-about .page-about-info p {
  font-family: 'Proxima Nova Regular';
  color: white;
  font-size: 17px;
}

section.page-why-us {
  padding: 12% 0;
}

section.page-why-us .page-why-us-info p {
  font-family: 'Proxima Nova Regular';
  color: white;
  font-size: 17px;
}

section.page-why-us .page-why-us h2 {
  font-family: 'Proxima Nova Black';
  font-size: 60px;
  color: white;
}

section.page-why-us .page-why-us h2:after {
  font-family: 'champagne__limousinesbold';
  color: #fcc564;
  content: 'Farkımız';
  position: absolute;
  display: block;
  font-style: italic;
  bottom: -5px;
  right: 20px;
  font-size: 25px;
}

section.mission-and-vision {
  padding: 12% 0;
}

section.mission-and-vision .page-mission-and-vision h2 {
  font-family: 'Proxima Nova Black';
  font-size: 60px;
  color: black;
}

section.mission-and-vision .page-mission-and-vision p {
  font-family: 'Proxima Nova Regular';
  color: black;
  font-size: 17px;
}

section.detail-page-footer .footer .footer-title h5 {
  font-family: 'Proxima Nova Black';
  font-size: 25px;
  color: black;
}

section.detail-page-footer .footer .footer-sect ul li {
  margin-bottom: 8px;
}

section.detail-page-footer .footer .footer-sect ul li a {
  font-size: 15px;
  color: black;
  font-family: 'TexGyreadVentor';
}

section.detail-page-footer .footer .footer-sect ul li a:hover {
  border-bottom: 2px solid white;
}

section.detail-page-footer .footer .e-bulten-info span {
  color: black;
}

section.detail-page-footer .footer .e-bulten-input {
  position: relative;
  margin-top: 20px;
}

section.detail-page-footer .footer .e-bulten-input input[type="text"] {
  background-color: black;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  color: white;
  font-family: 'TexGyreadVentor';
  outline: none;
  position: relative;
  text-align: right;
}

section.detail-page-footer .footer .e-bulten-input input[type="text"]::-webkit-input-placeholder {
  color: white;
}

section.detail-page-footer .footer .e-bulten-input input[type="text"]:-ms-input-placeholder {
  color: white;
}

section.detail-page-footer .footer .e-bulten-input input[type="text"]::placeholder {
  color: white;
}

section.detail-page-footer .footer .e-bulten-input i {
  top: 30%;
  left: 50%;
  position: absolute;
}

section.detail-page-footer .footer .e-bulten-input i:before {
  color: white;
}

section.detail-page-footer .footer .social-title {
  margin-right: 25px;
  display: inline-block;
}

section.detail-page-footer .footer .social-title h6 {
  font-size: 20px;
}

section.detail-page-footer .footer .social-list {
  margin-top: 10px;
}

section.detail-page-footer .footer .social-list ul li {
  margin-right: 10px;
  display: inline-block;
}

section.detail-page-footer .footer .social-list ul li a {
  display: block;
}

section.detail-page-footer .footer .social-list ul li a i:before {
  color: black;
  font-size: 20px;
}

section.detail-page-footer .footer .copyright {
  margin: 5px 0px;
}

section.detail-page-footer .footer .copyright span {
  font-family: 'Proxima Nova Regular';
  font-size: 17px;
}

section .content {
  padding: 180px 0px;
  position: relative;
  z-index: 9999;
}

section .content .diamond {
  height: 400px;
  width: 400px;
  background-color: #131323;
  box-shadow: 0px 0px 0px 8px #131323;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 15px;
  vertical-align: middle;
  display: inline-block;
  border: 3px dashed #00cc79;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

section .content .diamond i span.left:before {
  position: absolute;
  content: "";
  display: block;
  clear: both;
  width: 428px;
  height: 487px;
  background-image: url("../images/home_banner_before.png");
  left: -220px;
  top: 145px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

section .content .diamond i span.right:after {
  position: absolute;
  content: "";
  display: block;
  clear: both;
  width: 428px;
  height: 487px;
  background-image: url("../images/home_banner_after.png");
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 175px;
  top: -245px;
}

section .content .diamond .info {
  margin-top: 100px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

section .content .diamond .info .title h1 {
  font-family: 'Proxima Nova Black';
  font-size: 30px;
  color: white;
}

section .content .diamond .info .link a {
  color: white;
  background-color: #00cc79;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 30px;
}

section .content .diamond .info .link a span {
  font-family: 'Proxima Nova Black';
}

section .content .about .about-info {
  color: white;
  padding: 90px 0px;
}

section .content .about .about-info h3 {
  position: relative;
  font-size: 60px;
  font-family: 'Proxima Nova Black';
  margin-bottom: 45px;
}

section .content .about .about-info h3:before {
  font-family: 'champagne__limousinesbold';
  color: #fcc564;
  content: 'Biz Kimiz ?';
  position: absolute;
  display: block;
  font-style: italic;
  bottom: -20px;
  left: 220px;
  font-size: 25px;
}

section .content .about .about-info p {
  font-family: 'Proxima Nova Regular';
  font-size: 20px;
  margin-bottom: 30px;
}

section .content .about .about-info a {
  color: white;
  border: 3px solid #00cc79;
  padding: 9px 12px;
  font-family: 'Proxima Nova Bold';
  font-size: 18px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

section .content .about .about-info a:hover {
  background-color: #00cc79;
}

section .content .about .social-list a {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-right: 35px;
  color: white;
}

section .content .about .social-list a i {
  margin-right: 5px;
}

section .content .about .social-list a:hover {
  color: #fcc564;
}

section .content .about .slogan h2 {
  color: white;
  font-family: 'Proxima Nova Black';
  border: 10px solid #00cc79;
  font-size: 100px;
  padding: 20px;
}

section .content .services .services-img:before {
  position: absolute;
  content: "";
  display: block;
  clear: both;
  background-image: url("../images/services_banner_after.png");
  left: -23px;
  top: -20px;
  width: 580px;
  height: 488px;
}

section .content .services .services-title h3 {
  position: relative;
  font-size: 60px;
  font-family: 'Proxima Nova Black';
  margin-bottom: 45px;
  color: white;
}

section .content .services .services-title h3:before {
  font-family: 'champagne__limousinesbold';
  color: #fcc564;
  content: 'Neler Yapıyoruz ?';
  position: absolute;
  display: block;
  font-style: italic;
  bottom: -20px;
  right: 0;
  font-size: 25px;
}

section .content .services .services-info ul li {
  font-family: 'champagne__limousinesbold';
  font-size: 45px;
  color: white;
}

section .content .footer .row:nth-child(2) {
  margin-top: 30px;
}

section .content .footer .footer-title {
  margin-bottom: 30px;
}

section .content .footer .footer-title h5 {
  font-family: 'Proxima Nova Black';
  font-size: 30px;
}

section .content .footer .footer-sect ul li {
  margin-bottom: 8px;
}

section .content .footer .footer-sect ul li a {
  font-size: 15px;
  color: black;
  font-family: 'TexGyreadVentor';
}

section .content .footer .footer-sect ul li a:hover {
  border-bottom: 2px solid #00cc79;
}

section .content .footer .footer-sect span {
  display: block;
}

section .content .footer .e-bulten-input {
  position: relative;
  margin-top: 20px;
}

section .content .footer .e-bulten-input input[type="text"] {
  background-color: #00cc79;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  color: white;
  font-family: 'TexGyreadVentor';
  outline: none;
  position: relative;
  text-align: right;
}

section .content .footer .e-bulten-input input[type="text"]::-webkit-input-placeholder {
  color: white;
}

section .content .footer .e-bulten-input input[type="text"]:-ms-input-placeholder {
  color: white;
}

section .content .footer .e-bulten-input input[type="text"]::placeholder {
  color: white;
}

section .content .footer .e-bulten-input i {
  top: 30%;
  left: 50%;
  position: absolute;
}

section .content .footer .e-bulten-input i:before {
  color: white;
}

section .content .footer .social-title {
  margin-right: 25px;
  display: inline-block;
}

section .content .footer .social-title h6 {
  font-size: 20px;
}

section .content .footer .social-list {
  margin-top: 10px;
}

section .content .footer .social-list ul li {
  margin-right: 10px;
  display: inline-block;
}

section .content .footer .social-list ul li a {
  display: block;
}

section .content .footer .social-list ul li a i:before {
  color: black;
  font-size: 20px;
}

section .content .footer .copyright {
  margin: 5px 0px;
}

section .content .footer .copyright span {
  font-family: 'Proxima Nova Regular';
  font-size: 17px;
}

section .bannerbg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

section.buttons {
  position: fixed;
  z-index: 99999999999;
  right: 2%;
  bottom: 2%;
}

section.buttons ul {
  margin: 0;
  padding: 0;
  position: relative;
}

section.buttons ul li {
  margin: 10px 0px;
  display: block;
  list-style-type: none;
}

section.buttons ul li a.button {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 3px solid white;
  padding: 4px;
  display: block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

section.buttons ul li a.button:hover {
  background-color: white;
}

section.buttons ul li span.text {
  font-family: 'Proxima Nova Light';
  margin-top: -20px;
  padding: 5px 10px;
  background-color: white;
  color: black;
  position: absolute;
  left: -100px;
  text-align: center;
  display: block;
  -webkit-transition: all .4s ease-in-out 0s;
  transition: all .4s ease-in-out 0s;
  display: none;
}

section.buttons ul li span.text:after {
  position: absolute;
  content: "";
  display: block;
  clear: both;
  right: -8px;
  top: 8px;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 9px;
  border-color: transparent transparent transparent white;
}

#fp-nav ul li {
  height: 20px !important;
}

#fp-nav ul li .fp-tooltip {
  background-color: white;
  color: black !important;
  padding: 5px 14px;
  overflow: inherit !important;
}

#fp-nav ul li .fp-tooltip:after {
  position: absolute;
  content: "";
  display: block;
  clear: both;
  top: 10px;
  z-index: 999;
  right: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 9px;
  border-color: transparent transparent transparent white;
}

#fp-nav ul li:hover a span {
  margin: -2px 0 0 -2px !important;
  background-color: white !important;
}

#fp-nav ul li a span {
  background: transparent !important;
  border: 4px solid white !important;
  border-radius: 100% !important;
  padding: 3px;
}

#fp-nav ul li a.active span {
  margin: -2px 0px 0px -2px !important;
  background-color: white !important;
}
