

$red : red;
$black : black;
$white : white;
$orange : #ff9e19;
$gray : #8b8989;
$green : #00cc79;
$purple : #1a1a27;

$l-light-gray : #dedede;
$l-light-orange :#fcc564;
$light-gray : #e4e4e4;
$light-orange : #ffda0b;
$light-gray : #979797;

$dark-orange : #d5aa4b;

$text-color : #020403;

$blackandblue : #131323;
$blackandgreen : #296751;